<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RunAOTCompilation>true</RunAOTCompilation>
    <_CloudflarePublishDirectory>$(MSBuildProjectDirectory)/bin/$(Configuration)/$(TargetFramework)/cloudflare/</_CloudflarePublishDirectory>
    <PublishDir>$(_CloudflarePublishDirectory)</PublishDir>
  </PropertyGroup>

  <UsingTask TaskName="PrepareCloudflareWasmAssets"
             TaskFactory="RoslynCodeTaskFactory"
             AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.Core.dll">
    <Task>
      <Code Type="Class"
            Language="cs"
            Source="$(MSBuildProjectDirectory)/Properties/PublishProfiles/PrepareCloudflareWasmAssets.csx" />
    </Task>
  </UsingTask>

  <Target Name="_CleanCloudflarePublishDirectory"
          BeforeTargets="PrepareForPublish"
          Condition="'$(PublishDir)' == '$(_CloudflarePublishDirectory)' and Exists('$(_CloudflarePublishDirectory)')">
    <RemoveDir Directories="$(_CloudflarePublishDirectory)" />
  </Target>

  <Target Name="_PrepareCloudflarePublish" AfterTargets="Publish">
    <PrepareCloudflareWasmAssets
        PublishDirectory="$(PublishDir)"
        HeadersPath="$(MSBuildProjectDirectory)/Properties/PublishProfiles/cloudflare_headers" />
  </Target>
</Project>
